[submodule "content/themes/arche"]
	path = content/themes/arche
	url = git@github.com:sccmain/arche.git
[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "content/themes/genesis"]
	path = content/themes/genesis
	url = git@github.com:sccmain/genesis.git
[submodule "content/plugins/arche-utility"]
	path = content/plugins/arche-utility
	url = git@github.com:sccmain/arche-utility.git
[submodule "content/plugins/th-framework"]
	path = content/plugins/th-framework
	url = git@github.com:thuijssoon/th-framework.git
[submodule "content/plugins/easy-local-seo-locations"]
	path = content/plugins/easy-local-seo-locations
	url = git@github.com:sccmain/easy-local-seo-locations.git
[submodule "content/plugins/arche-banners"]
	path = content/plugins/arche-banners
	url = git@github.com:sccmain/arche-banners.git
