###############################################################################
##                                                                            #
##       GIT IGNORE FOR WORDPRESS SITES                                       #
##       ------------------------------                                       #
##                                                                            #
##       License: MIT - aka you can use/modify this how you want :)           #
##                                                                            #
###############################################################################

###############################################################################
##                                                                            #
##       NOTE: TO STOP TRACKING A FILE AFTER IGNORING IT,                     #
##             USE THESE GIT COMMANDS:                                        #
##                                                                            #
##             git rm --cached <file>                                         #
##             git add . # or git add <file>                                  #
##                                                                            #
###############################################################################


## OS and Utility Stuff ##

#==================#
#     OS Files     #
#==================#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes


#==================#
#    Log files     #
#==================#
*.log
error_log
access_log
.sass-cache


#===================================#
#     Config. and Worpress Core     #
#===================================#
# config/*
config/enviroments/local-config.php
config/enviroments/stable-config.php
config/enviroments/production-config.php
# wp-config.php
.htaccess
wp/.htaccess

#=============================================#
#    wp-content, except plugins and themes    #
#=============================================#
content/*
!content/plugins/
!content/themes/
# !content/uploads 


## Use these to get more specific ##

#===========================#
#      Specific Plugins     #
#===========================#
# content/plugins/*
content/plugins/genesis-visual-hook-guide
content/plugins/wp-migrate-db-pro-media-files

#===========================#
#     Specific Themes       #
#===========================#
# content/themes/*
# !content/themes/genesis
# !content/themes/arche


#===========================#
#          Cache            #
#===========================#
# content/cache/
# content/advanced-cache.php
# content/wp-cache-config.php