[submodule "content/plugins/arche-utility"]
	path = content/plugins/arche-utility
	url = https://marius%40ywam.nl@github.com/sccmain/arche-utility.git
[submodule "content/plugins/th-framework"]
	path = content/plugins/th-framework
	url = https://marius%40ywam.nl@github.com/thuijssoon/th-framework.git
[submodule "wp"]
	path = wp
	url = https://mariusooms@github.com/WordPress/WordPress.git
