/**
 * ------------------------------------------------------------------------------------
 * Header Styles
 * ------------------------------------------------------------------------------------
 */

/*
Site Header
---------------------------------------------------------------------------------------------------- */

header.site-header {
	position: relative;
	background: none !important;
	background-color: $color-dark !important;
}

#header-image {
	margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: hidden;
    clear: both;
}
body.home #header-image {
	max-height: 480px;
	img {
		margin-top: 0;
	}
}
body.start #header-image {
	max-height: 700px;
	img {
		margin-top: 0;
	}	
}

        
#header-image img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
    margin-top: -10%; 
}

h1.site-title {
	display: block;
	float: left;
	@include rem(margin, $general-margin 0 0 $general-margin);
	height: 61px;
	width: 246px;
}

.start h1.site-title {
	width: 350px;
}

.site-title img {
	width: 100%;
	height: auto;
}

body.start h1.site-title {
	float: none;
	@include rem(margin, $general-margin auto);
}

/* We need to absolute position the logo at mobile devices, so that the navigation can extend to full width while keeping the mobile icon floating right */
@include breakpoint($mobile) {
	h1.site-title {
		position: absolute;
		z-index: 999;
	}
	.start h1.site-title {
		position: relative;
		@include rem(margin, $general-margin auto);
		float: none;
	}
}

/*
Main navigation
---------------------------------------------------------------------------------------------------- */

nav.nav-primary {
	float: right;
}

nav.nav-primary ul {
	display: table;
	float: right;
	clear: both;
	overflow: hidden;
	width: auto;
}

nav.nav-primary li {
	display: table-cell;
	width: 140px;
	cursor: pointer;
	background-color: $color-dark;
}

nav.nav-primary li:hover {
	background-color: lighten( $color-dark, 10%);
}	

nav.nav-primary li a {
	display: block;
	@include rem(padding, 20px 10px 26px 10px);
	font-family: $font-2;
	@include rem(font-size, 20px);
	color: #fff;
	line-height: 1.35;
	&:link,
	&:visited,
	&:hover,
	&:active {
		color: #fff;
		text-decoration: none;
	}
	
}

nav.nav-primary li a .menu-description {
	display: block;
	font-family: $font-3;
	@include rem(font-size, 11px);
	font-style: italic;
	line-height: 1.1;
}

/* Here we reverse the styling to make the phone number stand out */
nav.nav-primary li.call-link a {
	@include rem(padding, 27px 0 40px 20px);
	font-family: $font-3;
	@include rem(font-size, 14px);
	font-style: italic;
	background-color: $color-1;
}
nav.nav-primary li.call-link a:hover {
	background-color: lighten($color-1, 10%);
}

nav.nav-primary li.call-link a .menu-description {
	font-family: $font-1;
	font-weight: 700;
	@include rem(font-size, 14px);
	font-style: normal;
}

.call-link-tablet {
	display: none;
}

/* Responsive Menu
--------------------------------------------- */

/* Set up the mobile icon */
.responsive-menu-icon {
	display: none;	
}

.responsive-menu-icon::before {
	color: #fff;
	content: "\f333";
	font: normal 24px/1 'dashicons';
	margin: 0 auto;
}

@include breakpoint($mobile) {

	nav.nav-primary .responsive-menu-icon {
		display: block;
		float: right;
		cursor: pointer;
		@include rem(margin, 37px $general-margin 34px 0);
		/* two pixel difference after rotate is bugging me */
		&.active { 
			@include rem(margin, 35px $general-margin 36px 0);
			@include transform( rotate(90deg) );
		}
	}

	nav.nav-primary {
		float: left;
		width: 100%;
	}

	ul.genesis-nav-menu.responsive-menu {
		display: none;
	}

	ul.genesis-nav-menu.responsive-menu .menu-item {
		display: block;
		float: left;
		width: 100%;
	}

	ul.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	ul.genesis-nav-menu.responsive-menu li.current-menu-item > a,
	ul.genesis-nav-menu.responsive-menu li a,
	ul.genesis-nav-menu.responsive-menu li a:hover {
		border: none;
		display: block;
		@include rem(padding, 10px $general-margin);
		text-transform: none;
	}

	ul.genesis-nav-menu.responsive-menu .menu-item.call-link a,
	ul.genesis-nav-menu.responsive-menu .menu-item .menu-description {
		@include rem(font-size, 14px); 
	}	

	ul.genesis-nav-menu.responsive-menu .menu-item.call-link .menu-description {
		display: block;
		font-family: $font-2;
		@include rem(font-size, 20px);
	}

	.call-link-tablet {
		display: block;
		position: absolute;
		top: 38px;
		right: 60px;
		font-family: $font-3;
		font-style: italic;
		color: #fff;

	}
	.call-link-tablet a {
		@include rem(margin-left, 5px);
		@include rem(padding, 1px 8px 2px);
		font-family: $font-1;
		font-weight: 700;
		font-style: normal;
		color: #fff;
		background-color: $color-1;
		@include border-radius(2px);
	}

}

@include breakpoint($phone) {

	ul.genesis-nav-menu.responsive-menu li.current-menu-item > a,
	ul.genesis-nav-menu.responsive-menu li a,
	ul.genesis-nav-menu.responsive-menu li a:hover {
		@include rem(padding, 7px $general-margin 11px);
		line-height: 1;
	}

	ul.genesis-nav-menu.responsive-menu .menu-item.call-link a {
		line-height: 1;
	}

	.call-link-tablet {
		display: none;
	}

}









