/**
 * ------------------------------------------------------------------------------------
 * Divider Styles
 * ------------------------------------------------------------------------------------
 */

hr {
	display: block;
	height: 1px;
	margin: ($general-margin * 1.5) 0;
	border: none;
	background-color: $color-hr;
}